.page {
	margin: 0;
	padding: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	max-width: 1600px;
	min-width: 1100px;
	width: 100vh;
	display: flex;
	flex-direction: column;
	margin: auto;

}

.header {
	display: flex;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-height: 450px;
	background-image: url(./pics/спилы.jpg);
	height: 100vh;
	margin-bottom: 50px;
}

.logo {
	position: absolute;
	top: 35px;
	left: 35px;
	height: 80px;
	width: 160px;
}

.title-link {
	margin-left: 35px;
	margin-top: 90px;
	font-size: 30px;
	font-weight: bold;
	/*text-shadow: 5px 6px 7px #1f77c4;*/
	color: black;
	text-decoration: none;
}

.title-link:hover {
	text-decoration: underline;
}

.header-pic {
	height: 450px;
	width: 350px;
	position: absolute;
	top: 0;
	right: 0px;
}

.cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
		margin: 0;
	padding: 0;
	list-style-type: none;
	padding-bottom: 60px;
}


.cards__theme-beige {
	display: flex;

	background-color: #f2f2f2;
	margin-bottom: 60px;


}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid lightgrey;
	border-radius: 3ch;
	width: 300px;
	margin-left: 50px;
	background-color: white;

}

.card__theme-beige {
	margin-top: 60px;
}

.link {
	text-decoration: none;
	color: #1f77c4;
	font-size: 23px;

}

.link:hover {
	text-decoration: underline;

}

.card-image {
	width: 150px;
	height: 250px;
	margin-top: 30px;
	padding-bottom: 30px;
}

.footer {
	display: flex;
	min-height: 450px;
	max-height: 550px;
	background-color: #f2f2f2;
	background-image: url(./pics/fog.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}


.all {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	justify-content: end;
	margin: 0;
}

.footer-left {
	display: flex;
	padding-bottom: 60px;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	font-size: 30px;
	margin: 0;
	margin-left: 25px;
	padding-bottom: 20px;

}

.map {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;


}

.map-link {
	padding: 0;
}

.link-footer {
	color: #1f77c4;
	font-weight: bold;
	font-size: 25px;
}

